<form [formGroup]="recipeForm">
  <!-- <div>
    <select formControlName="recipeControl">
      <option [value]="recipe" *ngFor="let recipe of recipes"> {{recipe}}</option>
    </select>
    <button type="button" (click)=search(search)>Search</button>
    <button type="button" (click)=reset()>Reset</button>
  </div> -->

  <div *ngIf="view">
    <table>
      <tr>
        <th>Recipe Name</th>
        <th>Creation Date</th>
        <th>Veg</th>
        <th>Action</th>
      </tr>
      <ng-container>
        <tr *ngFor="let recipe of recipes">
          <td>{{recipe.recipeName}}</td>
          <td>{{recipe.creationdatenadtime}}</td>
          <td>{{recipe.veg}}</td>
          <td>
              <button type="button" (click)=edit(search)>Edit</button>
              <button type="button" (click)=delete(search)>Delete</button>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>


</form>